---
import Layout from '~/layouts/baseLayout.astro'
import { Image } from 'astro:assets'
import RestaurantImage from '~/assets/images/restaurant.jpg'
import HeroImage from '~/assets/images/buildings.jpg'
import BarricadesImage from '~/assets/images/barricades.jpg'
import HandshakeImage from '~/assets/images/handshake.jpg'
import YellowDuctsImage from '~/assets/images/yellow-ducts.jpg'
import YellowDucts2Image from '~/assets/images/yellow-ducts-2.jpg'
import HighRiseImage from '~/assets/images/high-rise.jpg'
import LightBulbsImage from '~/assets/images/light-bulbs.jpg'
import PlumbingImage from '~/assets/images/plumbing.jpg'
import { Icon } from 'astro-icon/components'
import LogoImage from '~/assets/images/logo.png'
---

<Layout
  title='AJ Design Group'
  description='AJ Design Group is a professional Mechanical, Plumbing, and Electrical (MEP) Firm in Los Angeles. Get a free quote on your next project.'
  headingVariant='transparent'
>
  <section class='relative overflow-hidden'>
    <div class='w-full h-full absolute inset-0 -z-10 overflow-hidden'>
      <Image
        src={HeroImage}
        alt='buildings'
        aria-hidden='true'
        class:list={['w-full h-full object-cover']}
        widths={[540, 640, 800, 1024, HeroImage.width]}
      />

      <div
        class='absolute inset-0 bg-gradient-to-t from-base-50/90 to-base-900/10'
      >
      </div>
    </div>

    <div
      class='container mx-auto grid grid-cols-1 items-end space-y-10 px-3 py-12 sm:px-5 md:px-8 md:py-28 lg:px-12 relative min-h-screen'
    >
      <div class='flex flex-col items-center gap-8 lg:gap-12'>
        <hgroup class='text-center flex flex-col items-center gap-6'>
          <h1
            class='text-balance text-5xl font-extrabold md:text-6xl lg:text-7xl'
          >
            <!-- Quality MEP Design for Commercial and Residential Buildings -->
            <!-- Expert MEP Consulting for Smarter, Faster Building Designs -->
            Build Faster & Smarter with our Expert MEP Designs
          </h1>
          <p data-id='sub_headline' class='max-w-xl text-base-foreground-dim'>
            AJ Design Group designs mechanical, electrical, and plumbing
            drawings that get approved faster and keep your project on schedule.
          </p>
        </hgroup>

        <div>
          <a href='contact' class='btn btn-primary'> Give us a call </a>
        </div>
      </div>
    </div>
  </section>

  <!-- softwares they use -->
  <!-- https://damassets.autodesk.net/content/dam/autodesk/www/product-imagery/lockup-610x66/revit-2023-lockup-610x66.png -->

  <!-- https://damassets.autodesk.net/content/dam/autodesk/www/product-imagery/lockup-610x66/autocad-2023-white-lockup-610x66.png -->

  <section
    class='container mx-auto grid grid-cols-1 items-center gap-8 space-y-10 px-3 py-12 sm:px-5 md:grid-cols-2 md:gap-10 md:px-8 lg:px-12 my-20'
    data-prompt='Write the headings for the benefits section'
  >
    <div
      class='grid aspect-video h-full min-h-96 w-full place-items-center p-4 border border-base-300 border-dashed'
    >
      <Image
        src={BarricadesImage}
        alt='barricades'
        class:list={['w-full h-full object-cover']}
        widths={[540, 640, 800, 1024, BarricadesImage.width]}
      />
    </div>

    <div class='space-y-4'>
      <hgroup class='space-y-4'>
        <p class='tagline'>No more delays. No more headaches.</p>
        <h2 class='text-balance text-4xl font-bold md:text-5xl lg:text-6xl'>
          Costly Delays and Endless Revisions End Today
        </h2>

        <h2
          data-id='headline'
          class='text-balance text-4xl font-bold md:text-5xl lg:text-6xl'
        >
        </h2>

        <p data-id='sub_headline'>
          Getting mechanical, electrical, and plumbing (MEP) drawings shouldn’t
          slow your project down. But too often, plans are inaccurate, unclear,
          or don’t meet code requirements—leading to frustrating revisions,
          missed deadlines, and unexpected costs.
        </p>
      </hgroup>
    </div>
  </section>

  <section
    class='container mx-auto my-12 items-center space-y-10 px-3 py-12 sm:px-5 md:gap-10 md:px-8 lg:px-12'
  >
    <hgroup
      class='space-y-2 text-center'
      data-prompt='Create the copy for a heading group.'
    >
      <p class='tagline'>Simple. Accurate. Reliable.</p>
      <h2 class='text-balance text-4xl font-bold md:text-5xl lg:text-6xl'>
        Build Faster with our MEP Designs
      </h2>
      <!-- <p data-id="subtitle">Save time, cut costs, and keep your project on track.</p> -->
    </hgroup>

    <div class='grid grid-cols-1 gap-6 lg:grid-cols-2'>
      <div
        class='grid grid-cols-1 items-center border border-black sm:grid-cols-2 lg:col-span-1 lg:row-span-1 bg-base-100'
      >
        <hgroup class='p-5'>
          <p class='mb-2 tagline'>Fewer Revisions</p>
          <h4
            class='text-balance text-xl font-bold md:text-2xl lg:text-3xl mb-4'
          >
            Faster Approvals
          </h4>

          <p data-id='benefit_1_description'>
            Our precise, code-compliant MEP drawings reduce back-and-forth
            corrections, helping you get approved quickly and stay on schedule.
          </p>
        </hgroup>

        <div class='relative h-full'>
          <div
            class='w-full h-full relative aspect-square overflow-hidden bg-gradient-to-tl from-base-100 to-base-200'
          >
            <Image
              src={HandshakeImage}
              alt='handshake'
              class='absolute inset-4 object-cover h-full'
              widths={[540, 640, 800, 1024, HandshakeImage.width]}
            />
          </div>
        </div>
      </div>

      <div
        class='grid grid-cols-1 items-center border border-black sm:grid-cols-2 lg:col-span-1 lg:row-span-1 bg-base-100'
      >
        <hgroup class='p-5'>
          <p class='mb-2 tagline'>High-Quality</p>
          <h4
            class='text-balance text-xl font-bold md:text-2xl lg:text-3xl mb-4'
          >
            Accurate Designs
          </h4>

          <p data-id='benefit_2_description'>
            We deliver detailed, reliable plans that ensure everything fits and
            functions correctly, minimizing costly mistakes during construction.
          </p>
        </hgroup>

        <div class='relative h-full'>
          <div
            class='w-full h-full relative aspect-square overflow-hidden bg-gradient-to-tl from-base-100 to-base-200'
          >
            <Image
              src={YellowDuctsImage}
              alt='yellow ducts'
              class='absolute inset-4 object-cover h-full'
              widths={[540, 640, 800, 1024, YellowDuctsImage.width]}
            />
          </div>
        </div>
      </div>

      <div
        class='grid grid-cols-1 items-center border border-black lg:col-start-2 lg:row-span-2 lg:row-start-1 bg-base-100'
      >
        <hgroup class='p-5'>
          <p class='mb-2 tagline'>Expert Support</p>
          <h3
            class='text-balance text-2xl font-bold md:text-3xl lg:text-4xl mb-4'
          >
            Seamless Construction Process
          </h3>

          <p>
            With years of experience in MEP engineering, our team is here to
            answer your questions, solve challenges, and keep your project
            moving forward.
          </p>
        </hgroup>

        <div class='w-full overflow-hidden aspect-square p-4 max-h-sm'>
          <Image
            src={HighRiseImage}
            alt='high rise'
            class='object-contain'
            widths={[540, 640, 800, 1024, HighRiseImage.width]}
          />
        </div>
      </div>
    </div>
  </section>

  <div class='heropattern-banknote-base-200/10'>
    <section class='relative'>
      <!-- <div
        class='absolute inset-0 bg-gradient-to-tr from-base-100/20 to-base-50/10 -z-10'
      >
      </div> -->
      <!-- <section class='bg-base-100'> -->
      <div
        class='container mx-auto grid grid-cols-1 items-center space-y-10 px-3 py-12 sm:px-5 md:grid-cols-2 md:gap-10 md:px-8 lg:px-12'
      >
        <div
          class='space-y-8 relative border-l border-t border-base-300 border-dashed p-10'
        >
          <hgroup
            class='space-y-2'
            data-prompt='Create the copy for a heading group.'
          >
            <p class='tagline'>Efficient in Every Design</p>
            <h2
              data-id='title'
              class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'
            >
              Mechanical Services
            </h2>
          </hgroup>

          <ul
            class='space-y-5'
            data-prompt='Write a benefits section where each benefit has a title and a very short description. The titles lay out the key benefits to the user and the description goes into the services and/or features that the company has to offer. The benefits should explain the perks that this company brings.'
          >
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_1_title'
                >Design and drafting HVAC systems</span
              >
            </li>
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'>3D Revit drawings</span>
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'>Title-24 energy compliance</span>
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'
                >Heat loss and gain calculations</span
              >
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'
                >Heating and cooling equipment selection</span
              >
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'>Mechanical specifications</span>
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'>Plan check ready</span>
            </li>
          </ul>
        </div>

        <div class='relative p-4'>
          <div
            class='absolute top-0 right-0 size-12 border-r border-t border-base-300'
          >
          </div>

          <div
            class='absolute bottom-0 left-0 size-12 border-l border-b border-base-300'
          >
          </div>
          <Image
            src={YellowDucts2Image}
            alt='mechanical services'
            class='w-full'
            widths={[540, 640, 800, 1024, YellowDucts2Image.width]}
          />
        </div>
      </div>
    </section>

    <section>
      <div
        class='container mx-auto grid grid-cols-1 items-center space-y-10 px-3 py-12 sm:px-5 md:grid-cols-2 md:gap-10 md:px-8 lg:px-12'
      >
        <div class='relative p-4'>
          <div
            class='absolute top-0 left-0 size-12 border-l border-t border-base-300'
          >
          </div>

          <div
            class='absolute bottom-0 right-0 size-12 border-r border-b border-base-300'
          >
          </div>

          <Image
            src={LightBulbsImage}
            alt='light bulbs'
            class='w-full'
            widths={[540, 640, 800, 1024, LightBulbsImage.width]}
          />
        </div>

        <div class='space-y-8 border-r border-base-300 border-dashed'>
          <hgroup
            class='space-y-2'
            data-prompt='Create the copy for a heading group.'
          >
            <p class='tagline'>
              Powering Your Vision with Precision and Reliability
            </p>
            <h2
              data-id='title'
              class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'
            >
              Electrical Services
            </h2>
          </hgroup>

          <ul
            class='space-y-5'
            data-prompt='Write a benefits section where each benefit has a title and a very short description. The titles lay out the key benefits to the user and the description goes into the services and/or features that the company has to offer. The benefits should explain the perks that this company brings.'
          >
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_1_title'
                >Design lighting and power circuits, including mandatory Title
                24 controls</span
              >
            </li>
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_2_title'
                >Perform load calculations, single line diagrams, and panel
                schedules</span
              >
            </li>
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'
                >Ensure Title 24 compliance for lighting systems</span
              >
            </li>
            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'
                >Design emergency egress lighting and conduct photometric
                studies</span
              >
            </li>

            <li class='flex items-center gap-3'>
              <Icon name='tabler:check' class='size-4 text-primary' />
              <span data-id='benefit_3_title'>Electrical specifications</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section
      class='container mx-auto grid grid-cols-1 items-center space-y-10 px-3 py-12 sm:px-5 md:grid-cols-2 md:gap-10 md:px-8 lg:px-12'
    >
      <div
        class='space-y-8 p-10 border-l border-b border-base-300 border-dashed'
      >
        <hgroup class='space-y-2'>
          <p class='tagline'>Efficient and Reliable Water Systems</p>
          <h2 class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'>
            Plumbing Services
          </h2>
        </hgroup>

        <ul class='space-y-5'>
          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_1_title'
              >Design utilities for cold/hot water and sewer systems</span
            >
          </li>
          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_2_title'
              >Develop plumbing plans for city hall submission</span
            >
          </li>
          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_3_title'>Fuel gas piping systems</span>
          </li>

          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_3_title'>Storm water systems</span>
          </li>

          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_3_title'>Automatic sprinkler systems</span>
          </li>

          <li class='flex items-center gap-3'>
            <Icon name='tabler:check' class='size-4 text-primary' />
            <span data-id='benefit_3_title'>Plumbing specifications</span>
          </li>
        </ul>
      </div>

      <div class='relative p-4'>
        <div
          class='absolute top-0 right-0 size-12 border-r border-t border-base-300'
        >
        </div>

        <div
          class='absolute bottom-0 left-0 size-12 border-l border-b border-base-300'
        >
        </div>
        <Image
          src={PlumbingImage}
          class='w-full aspect-square object-cover'
          alt='plumbing services'
          widths={[540, 640, 800, 1024, PlumbingImage.width]}
        />
      </div>
    </section>
  </div>

  <!-- Domestic Cold and Hot Water Systems
Domestic Waste and Vent Systems
Fuel Gas Piping Systems
Storm Water Systems
Performance Specification of Automatic Sprinkler Systems
Water Conservation Systems
 -->

  <section class='bg-base md:bg-base-100/50 py-10 md:pt-24 lg:pb-24'>
    <div
      class='container mx-auto space-y-10 px-3 py-12 sm:px-5 md:px-8 lg:space-y-14 lg:px-12 bg-gradient-to-tl to-base from-base-50/10'
    >
      <div class='flex flex-col'>
        <div class='rb-12 md:mb-18 mb-12 w-full max-w-lg space-y-6 lg:mb-20'>
          <h2
            data-id='title'
            class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'
          >
            Project Management
          </h2>
          <p>
            At AJ Design Group, we manage MEP projects by integrating designs
            with architectural and structural elements, overseeing installations
            for compliance, and managing budgets to meet design specifications
            and functionality requirements.
          </p>
        </div>
        <div
          class='grid grid-cols-1 items-start gap-y-12 md:grid-cols-3 md:gap-x-8 md:gap-y-16 lg:gap-x-12'
        >
          <div>
            <div class='rb-5 mb-5 md:mb-6'>
              <Icon name='tabler:calendar-check' class='size-8 text-primary' />
            </div>
            <h3 class='mb-5 text-xl font-bold md:mb-6 md:text-2xl'>
              Project Coordination
            </h3>
            <p class='mb-5 md:mb-6'>
              Integrating MEP designs seamlessly with architectural and
              structural elements requires close collaboration with architects,
              civil engineers, and buidling owners.
            </p>
          </div>
          <div>
            <div class='rb-5 mb-5 md:mb-6'>
              <Icon name='tabler:list-check' class='size-8 text-primary' />
            </div>
            <h3 class='mb-5 text-xl font-bold md:mb-6 md:text-2xl'>
              Quality Control
            </h3>
            <p class='mb-5 md:mb-6'>
              Our quality control process for MEP designs involves rigorous
              reviews and checks to ensure compliance with industry standards,
              accuracy, and efficiency throughout all project phases.
            </p>
          </div>
          <div>
            <div class='rb-5 mb-5 md:mb-6'>
              <Icon name='tabler:coin' class='size-8 text-primary' />
            </div>

            <h3 class='mb-5 text-xl font-bold md:mb-6 md:text-2xl'>
              ‍Cost Management
            </h3>
            <p class='mb-5 md:mb-6'>
              Managing project budget, meeting design specs, and controlling
              costs throughout the project's lifecycle.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class='bg-base-100/50'>
    <div
      class='container mx-auto space-y-10 px-3 py-16 xl:py-32 sm:px-5 md:px-8 lg:space-y-14 lg:px-12'
    >
      <hgroup
        class='space-y-2 md:space-y-4'
        data-prompt='Create the copy for a heading group.'
      >
        <p class='tagline'>Got Questions?</p>
        <h2
          class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'
          data-id='title'
        >
          FAQs
        </h2>
      </hgroup>

      <div
        class='grid grid-cols-1 gap-8 md:grid-cols-2'
        data-prompt='Create a list of frequently asked questions by customers for this company along with the answers to those questions.'
      >
        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            What types of projects do you handle?
          </h6>
          <p data-id='faq1_answer'>
            We handle both commercial and high-end residential projects,
            providing comprehensive engineering drawings.
          </p>
        </div>

        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            How long does the design process take?
          </h6>
          <p data-id='faq2_answer'>
            For projects under 5000 sq feet, we offer a turnaround time of 2
            weeks, while larger projects require collaborative planning to meet
            deadlines efficiently.
          </p>
        </div>

        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            Do you offer support during the construction phase?
          </h6>
          <p data-id='faq3_answer'>
            Yes, we provide continuous support during the construction phase to
            address any emerging issues and ensure that the MEP systems are
            implemented according to plan.
          </p>
        </div>

        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            Do you provide revisions to the drawings?
          </h6>
          <p data-id='faq4_answer'>
            Yes, we offer revisions to ensure our designs meet your expectations
            and needs.
          </p>
        </div>

        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            What size of projects can AJ Design Group handle?
          </h6>
          <p data-id='faq5_answer'>
            From large commercial developments to small residential projects,
            our skilled engineers deliver exceptional design services tailored
            to your project's scale.
          </p>
        </div>

        <div class='py-2'>
          <h6 class='py-3 font-medium'>
            Is AJ Design Group licensed and insured?
          </h6>
          <p data-id='faq6_answer'>
            Yes, we are fully licensed to operate in California and carry
            insurance for all our services.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class='relative py-32 text-white'
    data-prompt='Create the copy for a heading group in the call to action section.'
  >
    <div class='absolute inset-0 -z-10'>
      <Image
        src={RestaurantImage}
        class='h-full w-full object-cover'
        alt='call to action'
        widths={[600, 800, 1024, 1280, RestaurantImage.width]}
      />

      <div class='absolute inset-0 bg-black/60'></div>
    </div>

    <div
      class='container mx-auto space-y-8 px-3 py-12 text-center sm:px-5 md:px-8 lg:px-12'
    >
      <h2
        data-id='title'
        class='text-balance text-3xl font-bold md:text-4xl lg:text-5xl'
      >
        Let's Bring Your Vision to Life
      </h2>

      <p data-id='subtitle'>
        Contact us for tailored Mechanical, Electrical, and Plumbing solutions
      </p>

      <div class='mx-auto inline-flex flex-col gap-3 sm:text-left'>
        <a href='contact' class='shrink-0 btn btn-primary'>Give us a call</a>
      </div>
    </div>
  </section>
</Layout>

<style></style>
